<footer id="contact">
    <div class="share">  

        <div class="info">
            <a href="#">Endereço:  Miguel Mermejo, 502  Bairro: Santa Clara</a>
            <a href="#">Cidade: Sertãozinho</a>
            <a href="#">CNPJ: 0000000000/0000</a>
            <a href="#">Estado: São Paulo</a>
            <a href="#">E-mail: samuka-srb@live.com</a>
        </div>

        <div class="social">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter'></i></a>
            <a href="#"><i class='bx bxl-whatsapp' ></i></a>
            <a href="#"><i class='bx bxl-instagram' ></i></a>
        </div>

        <div class="test">
            <a href="#">Sobre</a>
            <a href="#">Serviços</a>
            <a href="#">Galerias</a>
            <a href="#">Agendamentos</a>
            <a href="#">Regsitrar</a>
        </div>

    </div>
</footer>