
<header>
    <a href="#" class="logo"><span>C</span>abelo & Cia</a>

    <ul class="navbar">
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li><a href="#about">Sobre</a><li>
        <li><a href="#services">Servicos</a></li>
        <li><a href="#gallery">Gallery</a></li>
       @*  <li><a asp-controller="Appointment" asp-action="Index">Agendamentos</a></li> *@
        <partial name="_LoginPartial.cshtml" />
    </ul>

    <div class="menu-btn">
        <span>INTRO</span>
        <div class="bx bx-menu" id="menu-icon"></div>
    </div>

</header>

